/*Destinos*/

$colores-fondo:(
    "dark": #212529,
    "celeste": #559aaf,
    "gris": #88A0B8,
    "marron": #93714a,
    "blanco": white,
);

@mixin propfondo {
    width: 100%;
    margin: 0% auto;
    background-color: map-get($colores-fondo, dark);
    color: map-get($colores-fondo, blanco);
        
}


.bodydestinos{
    @include propfondo();
    display: grid;
    grid-template-rows: repeat(6, fr);
    grid-template-columns: 20% 60% 20%;
    .destinosmain{
        @include propfondo();
        grid-column: 1/4;
        grid-row: 3/6;
        .destinofte{
            @include propfondo();
            text-align: center;
            background-color: map-get($colores-fondo, blanco);
            padding: 20px 0px;
            color: map-get($colores-fondo, dark);
                       
        }
    } 
    
}

.destinofte1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: map-get($colores-fondo, blanco);

        
}

.destinofte1 p{
    width: 50%;
    text-align: center;
    font-size: 20px;
    padding: 130px;
    
}

.destinofte1 img{
    width: 50%;
}

.arriba{
    text-align: center;
    width: 100%;
    color: map-get($colores-fondo, celeste);
    padding: 10px 0px;
    background-color: map-get($colores-fondo, white );
    text-decoration: none;
}
